
@if (!state){
    <nav class="navbar custom-navbar sticky-top" style="background-color: white;" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand mb-2 mb-lg-0" routerLink="/">
                <img src="assets/logo.ico" alt="ZeroMiette Icon" class="brand-icon">ZeroMiette
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-label="Home page">
                            <i class="bi bi-house"></i>
                            <span> Home page</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a routerLink="/User/Authenticate/SignIn" class="nav-link" style="margin-right: 20px;" routerLinkActive="active" aria-label="Sign In">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <span> Sign In</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/User/CreateAccount/SignUp" class="nav-link" routerLinkActive="active" aria-label="Sign Up">
                            <i class="bi bi-person-plus"></i>
                            <span> Sign Up</span>
                        </a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>
   
}@else{
    @if(role=='administrator'){
        <app-administrator></app-administrator>
    }
}
 <router-outlet></router-outlet>
