<!-- app.component.html -->
<div class="row">
    <nav class="navbar bg-primary navbar-expand" data-bs-theme="dark">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Acceuil</a>
                </li>
                @if(!state){
                <li class="nav-item">
                    <a class="nav-link" routerLink="/User/Authenticate/SignIn">sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/User/SignUp">sign up</a>
                </li>
                }@else {
                    @if (role=="administrator"){
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Administrator">Account</a>
                        </li>
                    }@else if(role=="donor") {
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Donor">Account</a>
                        </li>
                    }@else {
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Reciever">Account</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/User/Authenticate/SignOut">sign out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet> 