<div class="container mt-4 page">
  @if(ann!=undefined){
    @for (an of ann; track $index) {
      <div class="row justify-content-center">
        <div class="col-md-6 ">
          <div class="card shadow-sm" style="border: 2px solid #1f4d36;">
            <img src="https://media.istockphoto.com/id/1144823591/photo/spaghetti-in-a-dish-on-a-white-background.jpg?s=612x612&w=0&k=20&c=SeEWmJfPQlX1zVUHPKjL-cgYeMs9cZ97-kdZMm7feA4=" class="card-img-top" alt="Image de l'annonce">
            <div class="card-body" style="background-color: #f8f9f6;">
              
              <div class="row" >
                <div class="col-7">
                  <h5 class="card-title" style="color: #380303;">{{an.title}}</h5>
                </div>
                <div class="col text-end">
                  <strong style="color: #1f4d36;">Deadline : </strong>
                  <span style="color: #570505;">{{ an.deadline }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h5 class="card-title fw-bold">{{usernames[an.donId]}}</h5>
                </div>
              </div>

              <!-- Catégorie -->
              <div class="row">
                <div class="col">
                  <strong style="color: #1f4d36;">Category :</strong>
                  <p>{{an.category}}</p>
                </div>
              </div>

              <!-- Description de l'annonce -->
              <div class="row">
                <div class="col">
                  <strong style="color: #1f4d36;">Description :</strong>
                  <p>{{ an.content }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col mb-2">
                  <strong style="color: #1f4d36;">Quantity : </strong>
                  <span>{{an.quantity}} kg</span> <!-- Affichage de la quantité -->
                </div>
              </div>

              <!-- Date de création et bouton -->
              <div class="row">
                <div class="col-8">
                  <strong style="color: #1f4d36;">Creation Date : </strong>
                  <span>{{ an.dateC }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-auto offset-9">
                  <button (click)="deleteAnn(an.annCode)" class="btn btn-danger me-2" aria-label="Delete user">
                    <i class="bi bi-trash"></i> Delete
                  </button>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>        
    }
  }  
</div>
<router-outlet></router-outlet>
  