@if(action=="SignIn"){
<div class="container mt-5">
    <form class="was-validated" [formGroup]="signInForm" (ngSubmit)="signIn()">
        <div class="row justify-content-center mt-5">
            <div class="col-6">
				<div class="row">
                    <div class="col shadow rounded bg-light">
                        <div class="row">
                            <div class="col mt-5">
                                <div class="form-floating">
                                    <input type="email" formControlName="email" id="email" class="form-control" placeholder="" required /> 
                                    <label for="email" style="font-size: 20px;">
                                        <i class="bi bi-person"></i> Enter your email
                                    </label> 
                                    <span class="invalid-feedback">required field</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <div class="form-floating">
                                    <input type="password" formControlName="password" id="password" class="form-control" placeholder="" required /> 
                                    <label class="form-label" for="password" style="font-size: 20px;">
                                        <i class="bi bi-lock"></i> Enter your password 
                                    </label> 
                                    <span class="invalid-feedback">required field</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-1">
                                <span class="text-danger">{{error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4 ">
                                <input type="submit" name="myBtn" class="btn btn-primary text-white w-100" style="font-size: 32px;font-weight: 600;" value="sign in">
                            </div>
                        </div>        
                    </div>
                </div>
            </div>    
        </div>
    </form>
</div>
}@else if(action=="SignOut"){
    @if(user!=undefined){
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="row mt-4">
                    <div class="col-auto mt-2">
                        <div class="alert alert-danger">
                            <strong>{{user.role}} {{user.first_name}} {{user.last_name}} are you sure you want to sign out??</strong>
                        </div>        
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto mt-4 ">
                        <input type="submit" (click)="SignOut()" name="myBtn" class="btn btn-primary text-white" value="sign out">
                    </div>
                </div>
            </div>
        </div> 
    }     
}