<div class="container mt-4 text-center">
  
  @if (errorMessage) {
    <div class="alert alert-warning text-center">{{ errorMessage }}</div>
  }
  @else if (announcement.length > 0) {
    <div class="row">
      @for (ann of announcement; track ann.annCode) {
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm border-start border-4 border-info">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <h5 class="card-title text-info fw-bold">{{ann.annCode}}</h5><!--{{ usernames[ann.donId] || 'Chargement...' }}-->
                </div>
                <div class="col-3">
                  <strong>Delai :</strong> 
                  <span class="btn-danger">{{ ann.deadline }}</span>
                </div>
              </div>

              <p class="card-text">
                <strong>Description :</strong> {{ ann.content }}
              </p>
              <p class="card-text">
                <strong>DateC :</strong> 
                <span class="badge bg-secondary">{{ ann.dateC }}</span>
              </p>
               @if ((isvisible[ann.annCode]==null)){
                 <button class="btn btn-outline-info" (click)="checkDemandeur(ann.annCode)" >Envoyer demande</button>
               }
             
               @else if(isvisible[ann.annCode]==true){
                <div class="row">
                  <label>Add Request:</label>
                </div>
                <div class="row mb-3"><textarea></textarea></div>
                
                <button type="button" class="btn btn-outline-info" (click)="addRequest(ann.annCode)">Envoyer</button>
                <button type="button" class="btn btn-outline-danger"(click)="getAnnByState('available')">annuler</button>
               }@else{
                <div class="alert alert-danger" role="alert">Vous avez déjà envoyé une demande pour cette annonce.</div>
               }

            </div>  
          </div>
        </div>
      }
    </div>
  }
  
</div>

<router-outlet></router-outlet>
