@if (users!=undefined){
    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Address</th>
                    <th>Number</th>
                    <th>Role</th>
                </tr>
                @for (i of users; track $index) {
                    <tr>
                        <td>{{i.first_name}} {{i.last_name}}</td>
                        <td>{{i.user_name}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.number}}</td>
                        <td>{{i.role}}</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
