@if (users!=undefined && users!=null){
    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Address</th>
                    <th>Number</th>
                    <th>Role</th>
                    <th>Details</th>
                </tr>
               cd 
                }
            </table>
        </div>
    </div>
}@else {
    <div class="row">
        <div class="col">
            
            <div class="alert alert-info">
                @if (state=="pending"){
                    <strong>there are no {{state}} Users!</strong>
                }@else {
                    <strong>there are no Users!</strong>
                }
            </div>
            
        </div>
    </div>
}
<router-outlet></router-outlet> 

