@if (users!=undefined && users!=null){
    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Address</th>
                    <th>Number</th>
                    <th>Role</th>
                    <th>Details</th>
                </tr>
                @for (i of users; track $index) {
                    <tr>
                        <td>{{i.first_name}} {{i.last_name}}</td>
                        <td>{{i.user_name}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.number}}</td>
                        <td>{{i.role}}</td>
                        <td><a [routerLink]="['/Administrator/ProcessAccount/getUser',i.userId]" style="text-decoration: none;">...</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
}@else {
    <div class="row">
        <div class="col">
            
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @if (state=="pending"){
                    <strong>there are no {{state}} Users!</strong>
                }@else {
                    <strong>there are no Users!</strong>
                }
            </div>
            
        </div>
    </div>
}
<router-outlet></router-outlet>
