
h1, h2, h3 {
  color: #3b5e2b;
}

.brand-icon {
  height: 4rem; /* Match the font-size of 1.5rem used for nav links */
  width: auto; /* Maintain aspect ratio */
}

.container {
  background-color: #f8f9f6;
  padding: 20px;
}
.title {
  color: #3b5e2b;
  font-weight: bold;
}
.subtitle {
  color: #424242;
  font-size: medium;
}
.badge {
  background-color: #daf8db;
  color: #3b5e2b;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

pre{
  white-space: pre-wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description h3 {
  color: #191919;
  font-weight: bold;
}
.description pre {
  color: #424242;
  font-size: medium;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}